#contSaludo{
	background: rgba(0,255,255,1);
	color: #FF0000;
	display: block;
	font-size: 2em;
	margin: 40px 0 10px 0;
	padding: 40px 0;
	text-align: center;
	width: 500px;
}

#contReloj{
	background: rgba(0,0,0,.7);
	display: block;
	margin: 0 0 40px 0;
	text-align: center;
	width: 500px;
	float: left;
}

#contReloj > p{
	color: #fff;
	display: inline-block;
	font-family: 'code_boldregular';
	font-size: 6em;
}

#diames{
	float: left;
	margin: 100px 0px 0px 40px;
	border: groove;
}

#canvas{
	margin: 20px 20px 0px 0px;
	padding-bottom: 40px;
	float: right;
}

#barra{
	background-color: hsl(120, 100%, 50%);
	width: 500px;
	height: 20px;
}






body {
	background-color: darkgray
}

@import "{{ site.theme }}";
